{% extends "shop/base.html" %}

{% block title %}Заказ{% endblock %}

{% block content %}
    <h1>Данные заказчика</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} Руб</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: {{ cart.get_total_price }} Руб</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Заказать"></p>
        {% csrf_token %}
    </form>
{% endblock %}